* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f2f2f2;
}
.register--box {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 5% auto;
  min-height: 600px;
  width: 50%;
  background-color: white;
}
.register--row {
  padding: 8%;
}
.button--login {
  margin-top: 30px;
}
.button--login > button {
  color: white;
  background-color: #e03e3e;
  width: 100%;
}
.button--login > button:hover {
  background-color: transparent;
}
span {
  color: #e03e3e;
}
p {
  color: red;
}
