.box--task {
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
.box--task > button {
  background-color: #e03e3e;
  color: white;
}
.box--task > :nth-child(1) {
  position: absolute;
  right: 85px;
}
.fa-arrow-left-long {
  margin-top: 20px;
  font-size: 30px;
}
.button--addtask {
  width: 50%;
  height: 200px;
  margin: 20% auto;
  text-align: center;
}
.button--addtask > button {
  background-color: #e03e3e;
  color: white;
  width: 50%;
}
.button--addtask > button:hover {
  background-color: transparent;
  color: black;
  width: 50%;
}
.button--addtask > p {
  color: grey;
}
.button--addtaskdata > button {
  background-color: #e03e3e;
  color: white;
  width: 20%;
}
.button--addtaskdata > button:hover {
  background-color: transparent;
  color: black;
  width: 20%;
}
.button--addtaskdata > p {
  color: grey;
}
.styleValidation {
  color: red;
}
.box--inforoom {
  padding: 30px;
  margin-top: 150px;
  width: 100%;
  min-height: 200px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.profilSiswa > img {
  object-position: center;
  object-fit: cover;
  border-radius: 100%;
  height: 50px;
  margin-right: 20px;
  width: 50px;
  float: left;
}
.profilSiswa > :nth-child(2) {
  padding-left: 50px;
  margin-top: 30px;
}
.profilSiswa > :nth-child(3) {
  font-size: 13px;
  margin-top: -10px;
  color: grey;
}
